* {
  box-sizing: border-box;
  margin: 0;
}

.opacity {
  opacity: 0;
}

.hidden {
  visibility: hidden;
}

/*header*/
header {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 5;
}

h2 {
  font-family: 'Quicksand', sans-serif;
}

.nav-bar a {
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  padding: 12px;
  background: linear-gradient(to left, white, white) no-repeat 0 0;
  background-size: 0% 2px;
  transition: 0.3s;
  margin-top: 1em;
}

.nav-bar a:hover {
  color: #43fcbf;
  background: linear-gradient(to left, #43fcbf, #43fcbf) no-repeat 0 0;
  background-size: 100% 2px;
}

.logo {
  position: fixed;
  width: 130px;
  height: 180px;
  top: 50px;
  left: 50px;
  transition: 0.3s;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1000;
}

.white {
  background-image: url("../img/logo/logo-white.svg");
}

.black {
  background-image: url("../img/logo/logo-black.svg");
}

.white::after {
  content: "";
  width: 130px;
  height: 20px;
  background-image: url("../img/logo/logo-all-white.svg");
  background-position: -1px -135px;
  transition: none;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 135px;
  left: 0;
  opacity: 0;
  transition: 0.2s;
}

.white:hover:after{
  opacity: 1;
}

.black::after {
  content: "";
  width: 130px;
  height: 20px;
  background-image: url("../img/logo/logo-all-black.svg");
  background-position: -1px -135px;
  transition: none;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 135px;
  left: 0;
  opacity: 0;
  transition: 0.2s;
}

.black:hover:after{
  opacity: 1;
}

video {
  width: 100%;
  height: auto;
  margin-bottom: -5px;
}

#about, #contact, #gallery {
  width: 100%;
  height: 645px;
  transition: 1s;
}

#about {
  background-color: #fff;
}

#contact {
  background-color: #fff;
}

/*Galería*/
#gallery {
  position: relative;
  background-color: #000;
  padding: 50px 250px;
}

/*Línea*/
#gallery h2 {
  padding: 12px;
  transition: 3s ease-in;
  margin-top: 1em;
}

.top-line-hidden {
  color: #fff;
  background: linear-gradient(to left, white, white) no-repeat 0 0;
  background-size: 0% 2px;
}

.top-line-hidden-black {
  color: #000;
  background: linear-gradient(to left, black, black) no-repeat 0 0;
  background-size: 0% 2px;
}

.top-line {
  color: #25f1ae;
  background: linear-gradient(to left, #25f1ae, #25f1ae) no-repeat 0 0;
  background-size: 100% 2px;
  cursor: default;
}

.top-line-black {
  color: #000;
  background: linear-gradient(to left, #000, #000) no-repeat 0 0;
  background-size: 100% 2px;
  cursor: default;
}

.mosaico {
  position: absolute;
  width: 734px;
  height: 645px;
  right: 4px;
  top: 0;
}

.parent-top, .parent-middle, .parent-middle-2, .bottom-parent {
  width: 100%;
  height: 160px;
}

.draggable-div {
  margin-right: -4px;
  width: 245px;
  height: 160px;
  display: inline-block;
  overflow: hidden;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.draggable-div:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.active {
  margin-right: -4px;
  width: 666px;
  height: auto;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  visibility: visible;
  opacity: 1;
  position: absolute;
  top:150px;
  left:-350px;
  bottom:0;
  margin:0;
  z-index: 1;
  box-shadow: 3px 11px 30px rgba(0, 0, 0, 0.75);
}

.drop-div {
  background-color: #000;
  margin-right: -4px;
  width: 245px;
  height: 160px;
  display: inline-block;
  position: absolute;
  right: 0;
  border: none;
  overflow: hidden;
  z-index: 5;
}

.drop-div p {
  width: 245px;
  height: 160px;
  position: absolute;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  border: 1px #fff solid;
  display: inline;
  font-weight: bold;
  top: 0;
  right: -1px;
  z-index: 1;
  padding: 59px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
}

.drop-div [class="draggable-div"] {
  opacity: 0;
}
