* {
  box-sizing: border-box;
  margin: 0;
}

.opacity {
  opacity: 0;
}

header {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 5;
}

.nav-bar a {
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  padding: 12px;
  background: linear-gradient(to left, white, white) no-repeat 0 0;
  background-size: 0% 2px;
  transition: 0.3s;
  margin-top: 1em;
}

.nav-bar a:hover {
  color: #43fcbf;
  background: linear-gradient(to left, #43fcbf, #43fcbf) no-repeat 0 0;
  background-size: 100% 2px;
}

.logo {
  position: fixed;
  width: 130px;
  height: 180px;
  top: 50px;
  left: 50px;
  transition: 0.3s;
  background-size: contain;
  background-repeat: no-repeat;
}

.white {
  background-image: url("../img/logo/logo-white.svg");
}

.black {
  background-image: url("../img/logo/logo-black.svg");
}

.white::after {
  content: "";
  width: 130px;
  height: 20px;
  background-image: url("../img/logo/logo-all-white.svg");
  background-position: -1px -135px;
  transition: none;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 135px;
  left: 0;
  opacity: 0;
  transition: 0.2s;
}

.white:hover:after{
  opacity: 1;
}

.black::after {
  content: "";
  width: 130px;
  height: 20px;
  background-image: url("../img/logo/logo-all-black.svg");
  background-position: -1px -135px;
  transition: none;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 135px;
  left: 0;
  opacity: 0;
  transition: 0.2s;
}

.black:hover:after{
  opacity: 1;
}

video {
  width: 100%;
  height: auto;
  margin-bottom: -5px;
}



#about, #contact, #gallery {
  width: 100%;
  height: 645px;
  transition: 1s;
}

#about {
  background-color: #000;
}

#contact {
  background-color: #000;
}

#gallery {
  position: relative;
  background-color: #fff;
}

.mosaico {
  position: absolute;
  right: 4px;
  top: 0;
}

.draggable-div {
  margin-right: -4px;
  width: 215px;
  height: 215px;
  display: inline-block;
  overflow: hidden;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.draggable-div:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.drop-div {
  background-color: #fff;
  margin-right: -4px;
  width: 215px;
  height: 215px;
  display: inline-block;
  position: absolute;
  right: 0;
  border: none;
  overflow: hidden;
}

.parent-top, .parent-middle, .bottom-parent {
  width: 100%;
  height: 215px;
}
